fint:
  org-id: fintlabs.no
  flyt:
    resource-server:
      user-permissions-consumer:
        enabled: true
      security:
        api:
          internal:
            enabled: true
            authorized-org-id-role-pairs-json: "{\"vigo.no\":[\"DEVELOPER\",\"USER\"]}"
  kafka:
    default-replicas: 1
spring:
  kafka:
    bootstrap-servers: localhost:9092
  datasource:
    hikari:
      schema: fintlabs_no
    url: jdbc:postgresql://localhost:5438/fint-flyt-integration-service
    username: postgres
    password: password
server:
  port: 8090