fint:
  application-id: fint-flyt-integration-service

  cache:
    defaultCacheEntryTimeToLiveMillis: 518400000
    defaultCacheHeapSize: 1000000

server:
  error:
    include-message: always
spring:
  jpa:
    properties:
      javax.persistence.validation.mode: none
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-postgres
      - flyt-resource-server